.cover__subtitle {
  max-width: 360px;
  height: 66px;
  margin: 32px 412px 0 412px;
  font-family: 'inter';
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .cover__subtitle {
    margin: 32px 332px 195px 332px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__subtitle {
    margin: 32px 204px 115px 204px;
  }
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    max-height: 48px;
    margin: 16px 16px 33px 16px;
    font-size: 14px;
    line-height: 16px;
  }
}