.place__website_heading {
  color: #AAAAAA;
  font-family: 'inter';
  font-style: normal;
  font-weight: normal;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 12px;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__website_heading {
    line-height: 12px;
  }
}

@media screen and (max-width: 767px) {
  .place__website_heading {
    margin-top: 0;
    margin-bottom: 12;
  }  
}