.header__lang-link_en {
  max-width: 29px;
  left: 960px;
  right: 0;
  font-family: 'inter';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  color: #ffffff;
  text-align: right;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .header__lang-link_en {
    width: 22px;
    height: 20px;
    padding-right: 16px;
    font-size: 18px;
    line-height: 20px;
  }
}