.lead__caption {
  margin-top: 8px;
  margin-bottom: 0;
  width: 158px;
  font-family: 'inter';
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
  align-self: start;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }   
}