.place__website {
  width: 456px;
  height: 46px;
  margin: auto auto 0 0;
  grid-column-start: 2;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .place__website {
    width: 456px;
    height: 46px;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place__website {
    width: 352px;
    height: 46px;
  }
}

@media screen and (max-width: 767px) {
  .place__website {
    max-width: 288px;
    max-height: 46px;
    margin: 32px 16px 0 16px;
    grid-column-start: 1;
    grid-row-start: 2;
  }   
}