.photo {
  display: grid;
  margin: 92px 48px 0 48px;
  width: 1184px;
  height: 671px;
  grid-template-rows: repeat(3, 213px);
  grid-template-columns: repeat(4, 284px);
  gap: 16px;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .photo {
    width: 928px;
    height: 942px;
    grid-template-rows: repeat(4, 225px);
    grid-template-columns: repeat(3, 300px);
    gap: 14px;
  } 
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .photo {
    width: 720px;
    height: 1664px;
    margin: 88px 24px 0 24px;
    grid-template-rows: repeat(6, 264px);
    grid-template-columns: repeat(2, 352px);
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .photo {
    margin: 64px 16px 0 16px;
    width: 288px;
     height: 2724px;
    grid-template-rows: repeat(12, 216px);
    grid-template-columns: repeat(1, 288px);
    gap: 12px;
  }   
}