.header__lang-link {
  font-family: 'inter';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  color: #ffffff;
  text-align: right;
  line-height: 28px;
  margin-left: 18px;
}

.header__lang-link:first-child {
  margin-left: 0px;
}

.header__lang-link:link {
  text-decoration: none;
}

.header__lang-link:hover {
  text-decoration: underline;
}

.header__lang-link:active {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}